*{
  margin: 0;
  padding: 0;
  border-spacing: 0;
  box-sizing: border-box;
}
.btn-container{
  display: flex;
  flex-direction: row;
}
.btn-container>div{
  height: 100px;
  width: 25%;
  border: 2px solid rgb(164, 165, 184);
  border-radius: 15px;
  text-align: center;
  padding-top: 35px;
  font-size: 1.5em;
}
.btn-container>div:nth-child(0n+2){
  padding-top: 0px;
}
#change-bet-container{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
