*{
  margin:0;
  padding:0;
}
body {
  width: 1440px;
  height: 2560px;
  border: 2px solid black;
  position: relative;
}

.displayPreset {
  font-size: 60px;
  margin: 10% 5%;
}
.displayPreset>div{
  border: 2px solid grey;
}
.select--group {
  font-size: 60px;
  width: 100%;
}




.startRunning {
  font-size: 200px;
  color: white;
  text-align: center;
  margin: auto;
  width: 60%;
  height: auto;
  padding: 300px 100px;
  margin-bottom: 100px;
}
.startRunning>b {
  width: 100%;
}

.select--hours--container{
  width: 40%;
  margin: auto;
}
.select--hours {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 60px;
  height: 100px;
}
.redirectToThisMonth{
  width: 100%;
  text-align:center;
  color: blue;
  font-size: 90px;
}
