/*css for table*/
#hourReg {
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}

#hourReg td, #hourReg th {
  border: 1px solid #ddd;
  padding: 8px;
}

#hourReg tr:nth-child(even){background-color: #f2f2f2;}

#hourReg tr:hover {background-color: #ddd;}

#hourReg th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
